<h3>Browse topics</h3>

<% if Topic.any? %>
  <ul class="list-group">
    <li class="list-group-item">
      <%= link_to 'All', root_path %>
      <span class="badge rounded-pill bg-danger"><%= Topic.all.count %></span>
    </li>
    <% Topic.all.each do |topic| %>
      <li class="list-group-item">
        <%= link_to topic.name, "#{root_path}?q=#{topic.name}" %>
        <span class="badge rounded-pill bg-danger"><%= topic.rooms.all.count %></span>
      </li>
    <% end %>
  </ul>
<% else %>
  <p>No topic found</p>
<% end %>
